/* src/css/CustomerList.css */

.container1 {
  /* max-width: 100%; */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.table-container {
  width: 150%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

table thead th,
table thead td {
  padding: 0.75rem 1rem; 
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
 
}

thead {
  background-color: #f2f2f2;
}



tr:hover {
  background-color: #f1f1f1;
}

td a {
  color: #3498db;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-customer-button,
.add-invoice-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.add-customer-button:hover,
.add-invoice-button:hover {
  background-color: #0056b3;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.dropdown-content a {
  color: black;
  padding: 2px 6px;
  text-decoration: none;
  /* display: flex; */
}

  

