/* src/css/Navbar.css */

.navbar-container {
    
    position: relative;
    height: 50px; /* Adjust the height as needed */
  }
  
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    display: none;
    padding: 10px 20px;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-container:hover .navbar {
    display: block;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
  }
  
  .navbar ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
  }
  